<div class="flex-container footer-flex">



 <div class="useful-links">
    <p>Useful Links</p>
    <li class="footer-links"><a title="http://www.safedatastorage.co.uk" href="http://www.safedatastorage.co.uk" target="_blank" >Safe Data Storage Limited</a></li>
    <li class="footer-links"><a title="http://www.comtecs.co.uk" href="http://www.comtecs.co.uk" target="_blank" >Comtecs</a></li>
    <li class="footer-links"><a title="http://www.bathrugby.com" href="http://www.bathrugby.com" target="_blank" >Bath Rugby</a></li>
    <li class="footer-links"><a title="http://www.hmrc.gov.uk" href="http://www.hmrc.gov.uk" target="_blank" >Inland Revenue</a></li>
    <li class="footer-links"><a title="http://www.companieshouse.gov.uk" href="http://www.companieshouse.gov.uk" target="_blank" >Companies House</a></li>
    <li class="footer-links"><a title="http://www.outsec.co.uk" href="http://www.outsec.co.uk" target="_blank" >Outsec</a></li>
  </div>

 <div class="contact-us-footer">
    <p>Contact Us</p>
      <li >Berkeley Coach House</li>
      <li >Limpley Stoke</li>
      <li >Bath</li>
      <li >Wiltshire</li>
      <li >BA2 7FS</li>
      <br>
      <li >01225 722659</li>
      <li >07768 011408</li>
      <li ><a href="mailto:paulcharles@me.com?">paulcharles@me.com</a></li>
  </div>

  <div class="footer-container">
    <div class="social">
      <p>Connect</p>
      <a href="https://www.linkedin.com/company/beechlands-accountancy-services/" target="_blank" ><i class="fab fa-linkedin"></i></a>
    </div>
  </div>





</div>



