<!-- MODAL -->


<div id="contactForm">
  <div class="flex-modal">
    <div class="contact-us-item-left">
        <li >Berkeley Coach House</li>
        <li >Limpley Stoke</li>
        <li >Bath</li>
        <li >Wiltshire</li>
        <li >BA2 7FS</li>
        <br>
        <li >01225 722659</li>
        <li >07768 011508</li>
        <li ><a href="mailto:paulcharles@me.com?">paulcharles@me.com</a></li>
    </div>
    <div class="contact-us-item">
      <p>Contact Us</p>
      <div class="contact-form">
        <form >
          <div class="contact-form-group">
            <input class="contact-form-control" placeholder="NAME">
          </div>
          <div class="contact-form-group">
            <input class="contact-form-control" placeholder="EMAIL">
          </div>
          <div class="contact-form-group">
            <input class="contact-form-control" placeholder="CONTACT NO">
          </div>
          <div class="contact-form-group message">
            <input class="contact-form-control" placeholder="MESSAGE">
          </div>
          <div class="contact-form-group buttons">
            <button class="contact-form-button" onclick="document.getElementById('contactForm').style.display='none'">CANCEL</button>
            <button class="contact-form-button">SEND</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
